[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
coverage = "*"

[packages]
flask = "*"
pymongo = {extras = ["srv"],version = "*"}
mongoengine = "*"
requests = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
